@media only screen and (max-width: 1200px) {
    .service_detail_1 {
        float: left;
        margin-left: 5%;
    }

    .service_detail_3 {
        float: right;
        margin-right: 5%;
    }
}