/* Nav Bar */
.NavBar {
  margin-top: 1%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: block;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.NavBar li {
  display: inline;
  top: 0;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 12px;
}

.NavBar li:first-child {
  margin-top: 3px;
}

.NavBar li a {
  color: #FFF;
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.NavBar li a:hover {
    color: dimgray;
}

/* Active Tag for JS */
.NavBar li a.nav_active {
  background-color: #FFF;
  color: #ef267a;
  padding: 15px;
}

.NavBar li.nav_left {
  float: left;
}

.NavBar li.nav_right {
  float: right;
}

.NavBar li a button {
  background-color: rgba(0, 0, 0, 0)/* or possibly #ee094d*/;
  border: #FFF solid 2px;
  color: #FFF;
  padding: 12px 28px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: -9px;
}

.NavBar li a:hover button {
  background-color: #FFF;
  color: #ef267a;
}

.mobile_navbar {
  display: none;
}


/* Media Queries COMMENCE!! */
@media screen and (max-width: 700px) {
  .NavBar {
    display: none;
  }

  .mobile_navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: inline-block;
    background-color: #ef378b;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    height: 120px; /**************************/
  }

  .mobile_navbar_logo {
    display: inline-block;
    float:left;
    margin-left: 10px;
    margin-top: 20px;
  }

  .mobile_navbar_logo img {
    width: 120%;
  }

  .mobile_navbar ul {
    list-style-type: none;
    float:right;
    margin: auto;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
  }

  .mobile_navbar li {
    display: inline;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mobile_navbar li a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
  }

  .mobile_navbar li a:hover {
      color: dimgray;
  }

  /* Active Tag for JS */
  .mobile_navbar li a.nav_active {
    background-color: #FFF;
    color: #ef267a;
    padding: 15px;
  }

  .mobile_navbar button {
    background-color: rgba(0, 0, 0, 0);
    border: #FFF solid 2px;
    color: #FFF;
    padding: 12px 28px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin-top: 10px; /**************************/
    margin-right: 20%; /**************************/
  }

  .mobile_navbar a:hover button {
    background-color: #FFF;
    color: #ef267a;
  }

}
