body {
  background-image: url("../images/bg_contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#section_contact {
  margin: 0 auto;
  width: 700px;
}

#section_contact p {
  margin: 30px auto;
  width: 700px;
  color: #f71c6d;
}

#contactForm input {
  border: none;
  border-bottom: 1px solid #FFF;
  background-color: rgba(0,0,0,0);
  width: 700px;
  height: 30px;
  padding: 5px 0px 7px 0px;
}

#contactForm input:focus {
  outline: none !important;
    border:2px solid pink;
    border-radius: 3px;
}

#section_contact button {
  margin: 0 auto;
  color: gray;
  border: 1px solid gray;
  background-color: #FFF;
  font-size: 1.1em;
  font-weight: lighter;
  padding: 8px 20px;
  transition: .5s ease;
}

#section_contact button:hover {
  background-color: #FFF;
  color: #f71c6d;
  border: 1px solid #f71c6d;
  cursor: pointer;
}
