/* Navigation Overall*/
#navBar {
  top: 0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  z-index: 1;
  width: 100%;
  height: 55px; /* logo 40px + top padding 15px*/
  background-color: rgba(0, 0, 0, 0);
  display: block;
  padding-top: 15px;
  text-transform: uppercase;
}

#navBar a img{
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
}

#navBar ul {
  left: 100px;
  top: 25px;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  list-style-type: none;
  font-size: 1em;
}

#navBar ul li {
  display: inline-block;
  padding: 0 17px;
  vertical-align: middle;
}

#navBar ul li a {
  color: #FFF;
  text-decoration: none;
  opacity: .8;
  transition: .5s ease;
}

#navBar li a:hover {
  opacity: 1;
  cursor: pointer;
}

/* Left Side Navigation */
#navBar ul#nav_left {
  float: left;
}

/* Right Side Navigation*/
#navBar ul#nav_right {
  float: right;
  top: 15px;
}

#navBar ul#nav_right li a button {
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  border: #FFF solid 1px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: serif;
  text-transform: uppercase;
  transition: 1s ease;
}

#navBar ul#nav_right li a:hover button {
  background-color: #FFF;
  color: #ef267a;
  cursor: pointer;
}

#navBar ul#nav_right li i {
  display: none;
}

/* Media Queries COMMENCE!! */
@media screen and (max-width: 699px) {
  #navBar {
    background-color: #ef267a;
    height: 80px;
  }

  #navBar ul#nav_left {
    float: none;
    position: relative;
    left: 100px;
    top:0;
  }

  #navBar ul#nav_left li a:hover {
    -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
  }

  #navBar ul#nav_left li {
    vertical-align: top;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #navBar ul#nav_right {
    float: none;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    left: 100px;
    top: 10px;
  }

  #navBar ul#nav_right li i {
    display: block;
    font-size: 1.3em
  }

  #navBar ul#nav_right li i:hover {
    -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
  }

  #navBar ul#nav_right li a button {
    border: none;
    font-weight: 500;
  }

  #navBar ul#nav_right li a:hover button {
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    cursor: pointer;
  }
}
